@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');
body {
    background-color: #1F2833 ;
}
header{
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-content: space-around;
  align-items: center;
}

main, main p {
    display: block;
    gap: 50px;
    font-size: 100px;
    text-align: center;
    color: #66FCF1;
}
section {
  padding: 50px;
  text-align: center;
  color: #66FCF1;
  font-size: 20px;
}
div {
  padding: 50px;
  text-align: center;
  color: #66FCF1;
  font-size: 20px;
}
.homepage {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}
p, li {
  font-family: 'Roboto', Helvetica, sans-serif;
}
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #1F2833;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #66FCF1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #1F2833;
  color: #45A29E;
}

/* Active/current link */
.topnav a.active {
  background-color: #45A29E;
  color: #1F2833;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #C5C6C7;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
footer {
  background-color: #45A29E;
  color:#1F2833;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color:#1F2833;
}
footer h3 {
  background-attachment: fixed;
  color: #1F2833;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.FAQ_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:#C5C6C7;
  color: #1F2833;
}
.FAQ_main h1 {
  font-size: 40px;
}
.FAQ_main li {
  font-size: 35px;
}
.contactus_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
}
.contactus_main p {
  font-size: 25px;
  color: #C5C6C7;
}
.contactus_main h1{
  font-size: 50px;
}
.sign_up {
  border: 10px solid #C5C6C7;
}